﻿<h2 id="project">Project</h2>
<p>This page has examples for the use of Cyan metaobjects with treplica. Note that the example that are in the article itself are not here. Currently, the Cyan compiler only works on Windows (sorry about that).</p>
<p>In order to run the example, <a href="http://cyan-lang.org/lib/">download and uncompress file lib.zip</a> from the Cyan site, <a href="http://www.cyan-lang.org">www.cyan-lang.org</a>. Download the project from <a href="http://cyan-lang.org/projeto/">http://cyan-lang.org/projeto/</a>.</p>
<p>Suppose lib.zip and projeto.zip were uncompressed into directories</p>
<pre><code>		D:\treplica\lib
		D:\treplica\projeto
</code></pre>
<p>This last directory has subdirectories</p>
<pre><code>		app
		cyanMetaobjects
			meta
				treplica				
		jar
		lib
</code></pre>
<p>In which <code>treplica</code> is subdirectory of <code>meta</code> that is subdirectory of <code>cyanMetaobjects</code>. The Java code of the metaobjects <code>treplicaInit</code>, <code>treplicaAction</code>,  <code>loadNonDeterministicFiles</code>, and <code>nonDeterministic</code> are inside directory <code>treplica</code>. To change these metaobjects or to compile them, read the <a href="http://cyan-lang.org/first/">primer on how to build metaobjects</a>.</p>
<p>To test the examples, open a DOS command prompt and make <code>D:\</code> the current drive. Create a directory <code>D:\treplica\tmpDirs</code> and subdirectories</p>
<pre><code>	D:\treplica\tmpDirs\magic1
	D:\treplica\tmpDirs\magic2
</code></pre>
<p>Go to directory  <code>D:\treplica\projeto\app</code></p>
<p>Now there are four examples, calculator, rogue, treplica, verify.  To call them, copy each the following commands to the DOS prompt:</p>
<ol>
<li>
<pre><code>  start /wait call-exem calculator "D:\treplica\projeto" "D:\treplica\lib"   "\treplica\tmpDirs"
</code></pre>
</li>
<li>
<pre><code>  start /wait call-exem rogue "D:\treplica\projeto" "D:\treplica\lib"   "\treplica\tmpDirs"
</code></pre>
</li>
<li>
<pre><code>  start /wait call-exem treplica "D:\treplica\projeto" "D:\treplica\lib"   "\treplica\tmpDirs"
</code></pre>
</li>
<li>
<pre><code>  start /wait call-exem verify  "D:\treplica\projeto" "D:\treplica\lib"   "\treplica\tmpDirs"
</code></pre>
</li>
</ol>
<p>Do not put the drive letter in the last directory. That is, do not use this: <code>D:\treplica\tmpDirs</code>.</p>

